body {
   color: #9DC08B;
   font-family: 'Courier New', Courier, monospace;
   margin: 0;
   padding: 0;
   background-image: url(https://wallpapercat.com/w/full/f/b/0/2130003-1920x1080-desktop-full-hd-gargantua-interstellar-background-photo.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #333;
   color: white;
   padding: 15px 20px;
}

header {
   background-color: #0c0911;
   color: white;
   padding: 15px;
   text-align: right;
   font-size: 1em;
   box-shadow: 0px 4px 6px rgba(55, 30, 30, 0.1);
}

.menu {
   list-style-type: none;
   padding: 10px;
   text-align: right;
   background: #211f25;
   margin: 0;
}

.menu li {
   display: inline;
   margin-right: 15px;
}

.menu a {
   color: #9DC08B;
   text-decoration: none;
   font-weight: bold;
   font-size: 1.2em;
   transition: color 0.3s;
}

.menu a:hover {
   text-decoration: underline;
}

main {
   flex: 3;
   padding: 250px;
   text-align: justify;
   font-size: 20px;
   display: auto;
   align-items: center;
   justify-content: center;
}

footer {
   background-color: #100d14;
   color: #9DC08B;
   text-align: center;
   padding: 15px 0;
   position: relative;
   bottom: 0;
   width: 100%;
   font-size: 1.2em;
   box-shadow: 0px -4px 6px rgba(61, 60, 60, 0.1);
}


.footer {
   background-color: #333;
   color: white;
   text-align: center;
   padding: 15px;
   position: relative;
   bottom: 0;
   width: 100%;
}
