body {
   font-family: 'Courier New', Courier, monospace;
   font-weight: bolder;
}

.navbar {
   background-color: #3D8D7A;
   overflow: hidden;
   padding: 15px;
   text-align: left;
}

.navbar a {
   color: #443627;
   text-decoration: none;
   padding: 14px;
   display: inline-block;
   color: #fff;
}

.navbar a:hover {
   color: #EABDE6;
 }

.name_header {
   /*display: flex;*/
   align-items: center;
   justify-content: center;
   text-align: center;
   background-color: #04330A;
   color: #fff;
   padding: 20px;
   width: 100vw;
}

#name {
   color: #fff;
   font-size: 3rem;
}

.grid {
   font-family: 'Courier New', Courier, monospace;
   display: grid;
   grid-template-rows: repeat(5, 1fr);
   grid-template-columns: 1fr 4fr;
   height: 100vh;
   width: 100vw;
}

.grid_item {
   /*display: flex;*/
   align-items: center;
   justify-content: center;
   /*font-size: 2rem;*/
   /*font-weight: bolder;*/
   /*color: #000;*/
   /*background-color: #CAE0BC;*/
   padding: 20px;
   
}

.titulo {
   font-family: 'Courier New', Courier, monospace;
   text-align: left;
   font-size: 3rem;
}

.skills {
   display: flex;
   padding: 10px;
   font-family: 'Courier New', Courier, monospace;
}

.fila_izq {
   background-color: #0F3C14;
   color: #fff;
}

.skills_col {
   background-color: #2B6632;
   color: #fff;
}

.exp_col {
   background-color: #CAE5CD;
}

.lang_col {
   background-color: #55915C;
}

.derechos {
   color: #fff;
}