<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../CSS/stylesheet_contact_info.css">
      <title>Información de contacto</title>
   </head>
   <body>
      <header>
         <nav class="navbar">
            <a href="../index.html">Inicio</a>
            <a href="../../CV/cv.html">Sobre Mí</a>
            <a href="https://www.youtube.com/@nataliagarcia9363/featured">Youtube</a>
         </nav>
      </header>
      <main class="container">
         <h1>Aquí está mi información de contacto!</h1>
         <ul>
            <a href="https://github.com/Natasaur">
               <img src="../images/github_logo.png" alt="Github" height="200">
            </a>
            <a href="https://www.linkedin.com/in/natalia-garcia00/">
               <img src="../images/linkedin_logo_.jpg" alt="LinkedIn" height="200">
            </a>
            <a href="https://www.youtube.com/@nataliagarcia9363">
               <img src="../images/Youtube_logo.png" alt="Youtube" height=200>
            </a>
         </ul>

      </main>
      <footer>
         Derechos reservados @Natalia García
      </footer>
   </body>
</html>