<% -include('layout') -%>

<section>
    <h1>LISTA DE TAREAS</h1>

    <form action="/crearTarea" method="post">
        <input type="text" name="texto" placeholder="Escribe una tarea" required>
        <button type="submit">Guardar</button>
    </form>

    <h2>TAREAS</h2>
    <ul>
        <% Tareas.forEach(tarea => { %>
            <li>
                <%= tarea.texto %> - <small><%= tarea.fecha %></small>
            </li>
        <%  }) %>
    </ul>
</section>